header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {display: none;} //this gets rid of hamburger menu
#primaryNav {display:flex; float: right;} //this puts the links in a line again
nav {
    padding-right: 60px;
    ul li a {
        border: none;
        font-size: .85rem;
        font-weight: $normalWeight;
        padding: .5rem 1.2rem;
        margin: .1rem;
        transition: background 0.5s linear;
    }
}
#navWrapper {
    margin-bottom: 50px;
    ul {
        background-color: white;
        box-shadow: none;
        border: none;
        position: inherit;
    li.active a {
        color:#b23f61;
        font-weight: $normalWeight;
        }
        li.active:hover a {
            color: white;
        }
    }
}

/* --------------------------- MAIN --------------------------- */
.hero {
    position: relative;
    z-index: 0;
    .heroWords {
        padding: 10px 10px;
    }
    div {
        position: absolute;
        left:20%;
        bottom: 0;
        top: 85%;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0;
        border-radius: 5px;
        max-width: 600px;
        overflow: hidden;
        p {
            text-shadow: 3px 3px 2px #000; 
            color: white; 
            font-size: 1.8rem;
        }
    }
    video {
        width: 100%;
        height: auto;
    }
} 

.row {
    img {
        width: 100%;
        height: auto;
    }
}

/* CSS for loop */
@for $i from 1 through 48 {
    $width: calc($i/ 48) * 100%;
    .large-#{$i} {flex-basis: $width;}
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}



