/* --------------------------- HEADER --------------------------- */
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
    }
} // end header

/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper button::before {
    content: "\2630";
}
//style for the button
#navWrapper button {
    border: none;
    background:none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#navWrapper ul {
    position: absolute;
    right: $gutter;
    width: 200px; //when this number was lower it shoved the entire navigation thing to the side
    background-color: white;
    list-style-type: none;
    margin: 6px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    text-align: right;

    li a {
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
    }
    li.active a {
        background-color: white;
    }
    li.active:hover a{
        background-color: rgba(178,63,97,0.5);;
    }
    a:hover {
        transform: translateY(5px);
        transition: transform .20s ease-in-out;
        color: white;
        background-color: rgba(178,63,97,0.5);
    }
}
#navWrapper ul.open {
    display: block;
}

/* --------------------------- MAIN --------------------------- */
.hero {
    position: relative;
    z-index: 0;
    div {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        p {
            text-shadow: 2px 2px 2px #000;
            color: white; 
            font-size: 2rem;
            margin:0;
        }
    }
    video {
        width: 100%;
        height: auto;
    }
} 

/* --------------------------- CSS for rows --------------------------- */
.row {
    img {
        width: 70%;
        height: auto;
    }
}
@for $i from 1 through 24 {
    $width: calc($i/ 24) * 100%;
    .medium-#{$i} {flex-basis: $width;}
}
footer div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    .contactInformation {
        border-bottom: none;
    }
    .contactInformation2{
        border-bottom: none;
    }
    
}